<div class="service_<%= div %> ">
	<%= image_tag(title_pic, class: "services_pic title_pic#{num} title_pic") %>
	<%= image_tag(image, class: "services_pic image_pic#{num} image_pic") %>
	<div class="service_box">
		<p class="lead"><%= image_tag(image_text, class: "image_100_width") %></p>
	</div>
</div>