<div class="col-sm-12 marginBottom50">
	<%= link_to((fa_icon "plus 4x"), new_portfolio_path, class: "btn btn-default") %>
	<%= link_to('Add language', new_logo_path) %>
</div>
<% @portfolios.each do |portfolio| %>
	<% if portfolio.portfolio_type == "Web" %>
		<div class="col-sm-3 marginBottom50">
			<%= link_to(image_tag(portfolio.image, class: "image_100_width portfolios_image"), edit_portfolio_path(portfolio)) %>
		</div>
	<% end %>
	<% if portfolio.portfolio_type == "Logo" || portfolio.portfolio_type == "BigLogo" %>
		<div class="col-sm-3 marginBottom50">
			<%= link_to(image_tag(portfolio.image, class: "image_100_width portfolios_image"), edit_portfolio_path(portfolio)) %>
		</div>
	<% end %>
<% end %>