@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


/*
green = #CDF4CE
dark-green = #7FA783
purple = #979EAF
blue = #DEFAF6
*/


/*----------------  General  ------------------*/

a {
	color: #979EAF;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

.btn-default:hover {
	background-color: #fff;
}

.hidden_div {
	display: none;
}

.image_100_width {
	width: 100%;
}

.marginTop100 {
	margin-top: 100px;
}

.marginTop50 {
	margin-top: 50px;
}

.marginBottom50 {
	margin-bottom: 50px;
}

.marginTopBottom300 {
	margin-top: 300px;
	margin-bottom: 300px;
}

.marginTopBottom150 {
	margin-top: 150px;
	margin-bottom: 150px;
}

.marginTopBottom100 {
	margin-top: 100px;
	margin-bottom: 100px;
}

.marginTopBottom50 {
	margin-top: 50px;
	margin-bottom: 50px;
}

.title {
	margin-top: 100px;
	margin-bottom: 50px;
}

.hide_in_md, .hide_in_md_landscape {
	display: none;
}

/*----------------  Admins  ------------------*/

.admin_index_link {
	font-size: 7em;
	font-weight: 100;
	color: #505050;
	letter-spacing: 5px;
}

.fullHeight {
	background-color: #D8F3EF;
}

.login_form_div{
	border: 1px solid #505050;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	padding: 20px;
	background-image: image-url("LoginAdmin.jpg");
	background-size: cover;
	a { color: #505050; }
	a:hover { color: #000; }
}

/*------------------     Shared   ---------------------*/

.title h1 {
	font-weight: 200;
	font-size: 4em;
	letter-spacing: 3px;
}

/*------------------     Preloader   ---------------------*/

.preloader {
	background-color: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;
}

/*------------------     Nav   ---------------------*/

#nav {
	position: fixed;
	top: 25%;
	left: 1%;
	z-index: 9999;
}

.roundNav {
	position: relative;
	left: 0;
	height: 50px;
	width: 50px;
	border: 2px solid rgba(255, 255, 255, 0);
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.3);
}

.roundNav:hover {
	background: #979EAF;
	color: rgba(255, 255, 255, 1);
}

#homeIcon {
	position: relative;
	left: 10px;
	top: 8px;
}

#serviceIcon {
	position: relative;
	left: 7px;
	top: 9px;
}

#workIcon {
	position: relative;
	left: 7px;
	top: 9px;
}

#portfolioIcon {
	position: relative;
	left:9px;
	top:9px;
}

#aboutIcon {
	position:relative;
	left:13px;
	top:8px;
}

#contactIcon {
	position:relative;
	left:9px;
	top:8px;
}

.active {
	background: #979EAF;
	color: rgba(255, 255, 255, 1);
}

/*----------------  Home  ------------------*/

.background_image, .background_image_mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2;
}

.background_image  img, .background_image_mobile  img {
	position: absolute;
	z-index: -1;
}

.background_image  .overlay, .background_image_mobile .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dashed_line_pic {
	position: absolute;
	width: 5%;
	top: 100%;
}

.dashed_line_pic1 {
	left: 7.6%;
}

.dashed_line_pic2 {
	left: 20.6%;
}

.dashed_line_pic3 {
	left: 57.5%;
}

.dashed_line_pic4 {
	left: 77.5%;
}

.end_line_pic {
	position: absolute;
	width: 1%;
	opacity: 0;
}

.wifi_pic {
	top: 44.5%;
	left: 9.6%;
}

.cog_pic {
	top: 49.5%;
	left: 22.6%;
}

.light_pic {
	top: 69.5%;
	left: 59.5%;
}

.phone_pic {
	top: 44.5%;
	left: 79.5%;
}

.logo_text_circle {
	width: 37%;
	top: 2%;
	left: 32.5%;
}

.logo_text_circle_mobile {
	width: 57%;
	top: 3.5%;
	left: 21.5%;
}

.logo_text {
	width: 28%;
	top: 25%;
}

.logo_text_channe {
	left: 4%;
}

.logo_text_design {
	right: 2%;
}

.logo_text_mobile {
	width: 60%;
}

.logo_text_channe_mobile {
	top: 50%;
	left: 10%;
}

.logo_text_design_mobile {
	top: 63%;
	right: 10%;
}

.features {
	background-color: #8097A2;
}

.features h1 {
	font-weight: 200;
	font-size: 4em;
}

.features .text-muted {
	color: rgba(255, 255, 255, 0.7);
}

/*----------------  Portfolios  ------------------*/

#portfolios {
	background-color: #fff;
}

#portfolios img {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#portfolios .active {
	background-color: #fff;
	color: #000;
	font-weight: 700;
}

.portfolios_dots {
	position: relative;
	top: 10px;
	font-size: 3em;
}

#portfolios .all {
	color: #505050;
}

#portfolios .web {
	color: #979EAF;
}

#portfolios .logo {
	color: #7FA783;
}

#portfolios .text-muted {
	position: relative;
	top: -30px;
}

.filter_text {
	cursor: pointer;
}

.filter_text:hover {
	font-weight: 700;
}

#Container .mix{
	display: none;
}

.logo {
	width:60px;
	height:65px;
}

.logoBootstrap {
	width:35px;
	height:40px;
}

.logoROR {
	margin-left: 15px;
	width: 34px;
	height: 40px;
}

.modal-dialog-website {
	width: 60%;
	margin: auto;
}

.modal-dialog-logo {
	width: 50%;
	margin: auto;
}

.modal-dialog-logo h2, .modal-dialog-logo h4 {
	font-weight: 100;
}

.modal-body {
	font-weight: 250;
}

.modal-footer {
	border-top:none;
	text-align: center;
}

.modalWebHeader {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 200px;
}

.VaraReeseHeader {
	color: #fff;
	background-image: image-url("varaModal.png");
	background-size: cover;
	background-position: center bottom;
	h2, h4 {font-weight: 100;}
}

.MicchkaBellisuHeader {
	color: #000;
	background-image: image-url("micchkaModal.jpg");
	background-size: cover;
	background-position: center bottom;
	h2, h4 {font-weight: 100;}
}

.SkiPandaHeader {
	color: #fff;
	background-image: image-url("gleeModal.jpg");
	background-size: cover;
	background-position: center;
}

.CamilleSkubichJewelryHeader {
	color: #000;
	background-image: image-url("skubichModal.jpg");
	background-size: cover;
	background-position: center bottom;
	h2, h4 {font-weight: 100;}
}

.ChaletsHideawayHeader {
	color: #000;
	background-image: image-url("ChaletHideawayModal.png");
	background-size: cover;
	background-position: center bottom;
	h2, h4 {font-weight: 100;}
}

.logoModal {
	width: 100%;
}

.logo_header {
	min-height: 100px;
}

.btn-default {
	margin-top: 30px;
	border: 1px solid #000;
	background: none;
}

.modal-dialog-website .btn-default:hover {
	background: #979EAF;
}

.modal-dialog-logo .btn-default:hover {
	background: #7FA783;
}

/*----------------  Services  ------------------*/
#services {
	background-color: #CDF4CE;
}

.services {
	position: relative;
}

.services_pic {
	position: absolute;
	width: 20%;
}

.title_pic1 {
	top: 12%;
	left: 4.5%;
	z-index: 2;
	width: 15%;
}

.image_pic1 {
	top: 5%;
	left: 10%;
	z-index: 1;
	width: 30%;
}

.title_pic2 {
	top: 3%;
	left: 43%;
}

.image_pic2 {
	top: 18%;
	left: 40%;
	width: 40%;
	z-index: 1;
}

.title_pic3 {
	top: 20%;
	right: 2%;
	width: 8%;
	z-index: 2;
}

.image_pic3 {
	top: 0%;
	right: 0%;
	width: 30%;
	z-index: 1;
}

.title_pic4 {
	bottom: 25%;
	left: 5%;
	z-index: 2;
}

.image_pic4 {
	bottom: 0%;
	left: 5%;
	width: 25%;
	z-index: 1;
}

.title_pic5 {
	bottom: 2%;
	left: 38%;
	width: 25%;
	z-index: 2;
}

.image_pic5 {
	bottom: 4%;
	left: 40%;
	width: 30%;
	z-index: 1;
}

.title_pic6 {
	bottom: 20%;
	right: 3%;
	width: 15%;
	z-index: 2;
}

.image_pic6 {
	bottom: 0%;
	right: 0%;
	width: 30%;
	z-index: 1;
}

.service_box {
	position: absolute;
	width: 23%;
	padding: 20px;
	opacity: 0;
}

.service_web_design_div .service_box {
	top: 10%;
	left: 7%;
}

.service_responsive_div .service_box {
	top: 9%;
	left: 41%;
}

.service_startup_div .service_box {
	top: 15%;
	right: 5%;
}

.service_web_dev_div .service_box {
	bottom: 15%;
	left: 8%;
}

.service_app_dev_div .service_box {
	bottom: 7%;
	left: 40%;
}

.service_branding_div .service_box {
	bottom: 15%;
	right: 5%;
}

/*----------------  Work Steps  ------------------*/

#work_steps {
	background-color: #fff;

}

.work_step_circuit_div {
	position: relative;
}

.work_steps_circle {
	width: 27%;
	position: absolute;
}

.iphone_pic {
	width: 5%;
	position: absolute;
	bottom: 9%;
	left: 2%;
}

.ipad_pic {
	width: 10%;
	position: absolute;
	bottom: 7%;
	left: 23%;
}

.work_steps1 {
	top: 0%;
	left: 1%;
}

.work_steps2 {
	top: 0%;
	left: 35%;
}

.work_steps3 {
	top: 0%;
	right: 5%;
}

.work_steps4 {
	top: 33.7%;
	right: 22%;
}

.work_steps5 {
	top: 33.7%;
	left: 18%;
}

.work_steps6 {
	bottom: 3%;
	left: 35%;
}

.front {
	z-index: 1;
}

.back {
	z-index: 0;
}

/*----------------  Abouts  ------------------*/

#abouts {
	background-color: #fff;
}

.profile_pic {
	position: relative;
	width: 60%;
}

.this_guy_arrow_pic {
	position: relative;
	top: -70px;
	width: 40%;
}

.abouts_logos {
	margin-top: 50px;
}

.abouts_logos_mobile {
	margin-top: 0px;
	margin-bottom: 50px;
}

.logo1{
	width:50px;
	height:35px;
	margin-left:10px;
	margin-right:10px;
}


/*----------------  Contacts  ------------------*/

#contacts {
	background-color: #979EAF;
	color: white;
}

.contacts_anchor {
	position: relative;
}

.contact_form {
  	line-height: 30px;
  	font-size: 2.5em;
  	opacity: 1;
  	position: relative;
  	z-index: 2;
}

.contact_form_mobile .uil-ripple-css {
	margin-left: 30%;
}

.contact_form_mobile {
	display: none;
	position: relative;
	z-index: 2;
}

.form_input {
	margin: 25px 0 25px 0;
	background-color: #979EAF;
	color: #CDF4CE;
	display: inline-block;
	border: none;
	border-radius: 0%;
	border-bottom: 1px dashed #f5f5f5;
	outline: none;
}

.form-inline div {
  display: inline-block;
}

.name_input {
  	width: 250px;
  	min-width: 250px;
}

.text_input {
	line-height: 45px;
	margin-top: -35px;
	position: relative;
	top: 35px;
	height: 40px;
  	resize: none;
  	width: 450px;
  	min-width: 450px;
}

.email_input {
  	width: 260px;
  	min-width: 260px;
}

.contact_form ::-webkit-input-placeholder {
   	padding-top: 6px;
   	text-align: center;
}

.contact_form :-moz-placeholder { /* Firefox 18- */
   	padding-top: 6px;
   	text-align: center;
}

.contact_form ::-moz-placeholder {  /* Firefox 19+ */
   	padding-top: 6px;
   	text-align: center;
}

.contact_form :-ms-input-placeholder {
   	padding-top: 6px;
   	text-align: center;
}

.msg_success {
	opacity: 0;
	color: #CDF4CE;
	position: absolute;
	top: 30%;
	left: 20%;
	z-index: 1;
}

.msg_success h2, .msg_success p {
	position: relative;
}

.map_container {
	width: 80%;
	position: relative;
	margin: 0 auto;
}

#map {
	width: 100%;
	height: 300px;
	border: none;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.fleche_haut {
	width: 30%;
	height: 30%;
	position: absolute;
}

.fleche_haut1 {
	bottom: -20%;
	left: 30%;
}

.fleche_haut3 {
	top: -20%;
	left: 30%;
}

.fleche_haut2 {
	bottom: 30%;
	right: -25%;
}

.mail_to {
	color: #fff;
}

.mail_to:hover {
	color: #CDF4CE;
}

.contact_form .btn-default, .contact_form_mobile .btn-default  {
	color: #fff;
	border: 1px solid #A9A9A9;
}

.contact_form .btn-default:hover, .contact_form_mobile .btn-default:hover {
	color: #A9A9A9;
	background-color: #CDF4CE;
}

/*----------------  Testimonials  ------------------*/

#testimonials, #testimonials div {
	background-color: #fff;
	color: #000;
}

.anchor_carousel {
	position: relative;
}

.testimonials_carousel p {
	font-weight: 100;
	padding-left: 25px;
	padding-right: 10px;
}

.testimonials_text {
	font-size: 300%;
}

.testimonials_text_signature {
	font-size: 1.5em;
}

.quote {
	position: absolute;
	z-index: 1000;
}

.quote_left {
	top: 10%;
	left: -3%;
}

.quote_right {
	bottom: 40%;
	right: -3%;
}

.owl-dots {
	padding-top: 30px;
}

/*----------------  Footer  ------------------*/

footer {
	background-color: #979EAF;
	padding-top: 15px;
	height: 40px;
}

/*----------------  touch  ------------------*/

.touchevents #nav {
	display: none;
}



/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/
/*--------------------------------------------*/



/*----------------  767  ------------------*/

@media (max-width: 767px) {
	html, body {
		overflow-x: hidden;
	}
	.hide_in_xs {
		display: none;
	}
	.hide_in_md {
		display: block;
	}
	.features h1 {
		font-weight: 250;
		font-size: 3em;
	}
	.title {
		margin-top: 50px;
	}
	.title h1 {
		font-weight: 250;
		font-size: 3em;
		letter-spacing: 2px;
	}
	.hidden_div {
		display: block;
	}
	.modal-dialog-website {
		width: 90%;
	}
	.modal-dialog-logo {
		width: 70%;
	}
	/*--------------------------Services-*/
	.services_pic {
		position: absolute;
		width: 50%;
	}
	.title_pic1 {
		top: 2%;
		left: 10%;
		width: 45%;
	}
	.image_pic1 {
		top: 1%;
		left: 35%;
		width: 60%;
	}
	.title_pic2 {
		top: 16%;
		left: 22%;
		z-index: 2;
	}
	.image_pic2 {
		top: 20%;
		left: 20%;
		width: 80%;
		z-index: 1;
	}
	.title_pic3 {
		top: 38%;
		left: 45%;
		width: 38%;
		z-index: 2;
	}
	.image_pic3 {
		top: 35%;
		left: 10%;
		width: 60%;
		z-index: 1;
	}
	.title_pic4 {
		top: 54%;
		left: 15%;
	}
	.image_pic4 {
		top: 51%;
		left: 30%;
		width: 65%;
		z-index: 1;
	}
	.title_pic5 {
		top: 76%;
		left: 20%;
		width: 55%;
		z-index: 3;
	}
	.image_pic5 {
		top: 68%;
		left: 20%;
		width: 70%;
		z-index: 2;
	}
	.title_pic6 {
		top: 90%;
		left: 40%;
		width: 45%;
		z-index: 4;
	}
	.image_pic6 {
		top: 83%;
		left: 10%;
		width: 60%;
		z-index: 3;
	}
	.service_box {
		width: 83%;
		left: 10%;
	}
	.service_web_design_div .service_box {
		top: 1%;
	}
	.service_responsive_div .service_box {
		top: 16%;
		left: 5%;
	}
	.service_startup_div .service_box {
		top: 36%;
		left: 7%;
	}
	.service_web_dev_div .service_box {
		top: 52%;
		left: 12%;
	}
	.service_app_dev_div .service_box {
		top: 69%;
		left: 5%;
	}
	.service_branding_div .service_box {
		top: 85%;
	}
	/*--------------------------WorkSteps-*/
	.work_step_circuit_div {
		padding-top: 120px;
	}
	.work_steps_circle {
		width: 60%;
		left: 20%;
	}
	.iphone_pic {
		width: 20%;
		bottom: 18%;
		left: 8%;
	}
	.ipad_pic {
		width: 25%;
		bottom: 17.5%;
		left: 71%;
	}
	.work_steps1 {
		top: 0%;
	}
	.work_steps2 {
		top: 15%;
	}
	.work_steps3 {
		top: 30%;
	}
	.work_steps4 {
		top: 45%;
	}
	.work_steps5 {
		top: 60%;
	}
	.work_steps6 {
		top: 85%;
	}
	.this_guy_arrow_pic {
		top: -50px;
	}
	.contact_form {
	  	line-height: 20px;
	  	font-size: 2em;
	}
	.form_input {
		margin: 25px 0 25px 0;
	}
	.name_input {
	  	width: 210px;
	  	min-width: 210px;
	}
	.text_input {
		line-height: 35px;
		margin-top: -25px;
		height: 30px;
	  	width: 350px;
	  	min-width: 350px;
	}
	.email_input {
	  	width: 220px;
	  	min-width: 220px;
	}
	.testimonials_carousel p {
		padding-left: 40px;
		padding-right: 5px;
	}
	#contacts .marginTopBottom150 {
		margin-bottom: 20px;
	}
	.quote {
		font-size: 300%;
	}
	.quote_left {
		left: 0%;
	}
	.quote_right {
		right: 0%;
	}
}

@media (max-width: 767px) and (orientation: portrait) {
	.hide_in_xs_portrait {
		display: none;
	}
	.hide_in_md_landscape {
		display: block;
	}
}

/*----------------  600  ------------------*/

@media (max-width: 600px) {
	.contact_form {
	  	line-height: 20px;
	  	font-size: 1.5em;
	}
	.form_input {
		margin: 20px 0 20px 0;
	}
	.name_input {
	  	width: 170px;
	  	min-width: 170px;
	}
	.text_input {
		line-height: 25px;
		margin-top: -22px;
		top: 20px;
		height: 20px;
	  	width: 280px;
	  	min-width: 280px;
	}
	.email_input {
	  	width: 180px;
	  	min-width: 180px;
	}
	.contact_form ::-webkit-input-placeholder {
   		padding-top: 3px;
	}
	.contact_form :-moz-placeholder { /* Firefox 18- */
	   	padding-top: 3px;
	}
	.contact_form ::-moz-placeholder {  /* Firefox 19+ */
	   	padding-top: 3px;
	}
	.contact_form :-ms-input-placeholder {
	   	padding-top: 3px;
	}
	.testimonials_text {
		font-size: 200%;
	}
}

/*----------------  510  ------------------*/

@media (max-width: 510px) {
	#contacts .marginTopBottom100 {
		margin-top: 0;
		margin-bottom: 50px;
	}
	.msg_success {
		left: 5%;
	}
	.contact_form {
		display: none;
	}
	.contact_form_mobile {
		display: block;
	}
	.contact_form_mobile h1 {
		font-size: 2em;
	}
}


/*----------------  400  ------------------*/

@media (max-width: 400px) {
	.text_input {
		top: 30px;
	}
}
