<div id="testimonials">
	<div class="container">
		<div class="col-md-8 col-md-offset-2 text-left anchor_carousel">
			<%= fa_icon "quote-left 4x", class: "quote quote_left" %>
			<%= fa_icon "quote-right 4x", class: "quote quote_right" %>
			<div class="testimonials_carousel owl-theme owl-carousel">
				<div>
					<p class="lead marginTop50 testimonials_text">Channe took my vision and created an amazing website that went beyond my expectations. He had wonderful insight and his results were lighting fast!</p>
					<p class="small text-muted testimonials_text_signature">- Vara R.</p>
				</div>
				<div>
					<p class="lead marginTop50 testimonials_text">Channe was great! He helped me create my new logo and I love it!</p>
					<p class="small text-muted testimonials_text_signature">- Jannice M.</p>
				</div>
			</div>
		</div>
	</div>	
</div>