<div id="testimonials">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 text-left anchor_carousel">
			<%= fa_icon "quote-left 4x", class: "quote quote_left" %>
			<%= fa_icon "quote-right 4x", class: "quote quote_right" %>
			<div class="testimonials_carousel owl-theme owl-carousel">
				<div>
					<p class="lead marginTop50 testimonials_text">Channe is really great to work with, patient, nice and professional.</p>
					<p class="small text-muted testimonials_text_signature">- Rob H.</p>
				</div>
				<div>
					<p class="lead marginTop50 testimonials_text">Channe was great! He helped me create my new logo and I love it!</p>
					<p class="small text-muted testimonials_text_signature">- Jannice M.</p>
				</div>
			</div>
		</div>
	</div>	
</div>