<nav id="nav" role="navigation">
	<a href="#home" title="Home"><div class="roundNav dim active"><i class="fa fa-home fa-2x navIcon" id="homeIcon"></i></div></a><br />
	<a href="#portfolios" title="My Portfolio"><div class="roundNav dim"><i class="fa fa-briefcase fa-2x navIcon" id="portfolioIcon"></i></div></a><br />
	<a href="#services" title="Services"><div class="roundNav dim"><i class="fa fa-connectdevelop fa-2x navIcon" id="serviceIcon"></i></div></a><br />
	<a href="#work_steps" title="Working with Channe"><div class="roundNav dim"><i class="fa fa-cogs fa-2x navIcon" id="workIcon"></i></div></a><br />
	<a href="#abouts" title="About Me"><div  class="roundNav dim"><i class="fa fa-child fa-2x navIcon" id="aboutIcon"></i></div></a><br />
	<a href="#contacts" title="Contact Me"><div class="roundNav dim"><i class="fa fa-envelope-o fa-2x navIcon" id="contactIcon"></i></div></a>
</nav>
